.content-wrapper {
  @include clearfix;
}

.wrap {
  margin: 0 auto;
}
.content-wrap { @include clearfix; }

main {
  background-color: $main-bg;
  @include clearfix;
}

section.content-wrapper {
  //padding: 1.5em;
  @include breakpoint($tablet, $no-query: '.no-mq') {
    //padding: 2em;
  }
}


.subpage .content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em 1em;
  h1 {
    font-size: 2em;
    @include heading-style; 
    text-align: center;
    padding-top: .75em;
  }
  h2 {
    font-style: italic;
    font-size: 1.4em;
    color: $color-one;
    text-align: center;
  }
  .header-img {
    margin: 2.5em -3em 2em;
    img {
      width: 100%;
    }
  }
}
.about.subpage .content-wrapper {
  max-width: 800px;
}