.content-wrapper {
  @include clearfix;
}

.wrap {
  margin: 0 auto;
}
.content-wrap { @include clearfix; }

main {
  background-color: $main-bg;
  @include clearfix;
}

section.content-wrapper {
  //padding: 1.5em;
  @include breakpoint($tablet, $no-query: '.no-mq') {
    //padding: 2em;
  }
}


.subpage .content-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2em 1em;
}

.intro {
  padding: 3em 1em 10em;
  text-align: center;
  @include breakpoint($tablet, $no-query: '.no-mq') {
    padding: 3em 1em 15em;
  }
  h1 {
    font-size: 1.4em;
    @include heading-style; 
  }
  h2 {
    font-style: italic;
    font-size: 1.1em;
    color: $color-one;
  }
}

.about {

}