---
layout: default
---
<main class="about subpage">
  <div class="intro">
    <h1 class="pagetitle">{{ page.title }}</h1>
    <h2 class="subtitle">{{ page.subtitle }}</h2>
  </div>
    <section class="content-wrapper wrap">
      <div class="col-wrap">
        <div class="col col-1">
          <h4 class="editable">Our History</h4>
          {{ page.history }}
        </div>
        <div class="col col-2">
          <h4 class="editable">Purpose</h4>
          {{ page.purpose }}
        </div>
      </div>

      {{ content }}
    </section>
</main>