---
layout: default
---
<main>
  <div class="preface">
    <div class="flexslider" id="slider"> 
       <ul class="slides">
         {% for item in site.conversations %}
          {% if item.show_on_slider == true %}
            <li data-thumb="">
                <div class="videoWrapper">
                  <iframe src="https://player.vimeo.com/video/{{ item.video_trailer }}?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
              </li>
            {% endif %}
          {% endfor %}
      </ul>
    </div>
    <div class="preface-text">
      <h2>Videos That Matter</h2>
      <a class="editable conversation-link" href="/conversations">Learn more about our Videos That Matter Campaign</a>
    </div>
  </div>
    <section class="content-wrapper wrap">
      <div class="team-conversation">
        <div class="col col-1 conversation editable">
          <div class="block-wrapper">
            <h3>Conversation</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id libero eu massa euismod condimentum. Sed eu enim at eros auctor blandit. In rutrum varius suscipit. Nulla eget urna a dui pharetra sollicitudin. Maecenas nunc ipsum, tempus sit amet purus id, consequat suscipit tellus.</p>
            <p>Aenean dui augue, accumsan ut nulla vitae, congue ultricies felis. Phasellus tristique euismod mauris, eu viverra nunc fringilla in. Phasellus viverra nisi id augue mattis cursus. Sed suscipit libero vel velit cursus, sed pellentesque enim scelerisque. Cras in mi eu dolor viverra tincidunt eget vitae tortor.</p>
            <div class="btn"><a href="/conversation">Learn More</a></div>
          </div>
        </div>
        <div class="col col-2 team editable">
          <div class="block-wrapper">
            <h3>Team</h3>
            <p>Curabitur ipsum quam, finibus non sapien ac, condimentum faucibus lacus. Nunc ullamcorper, velit feugiat ullamcorper faucibus, ante nulla eleifend nisi, id maximus velit nibh ac ex. Phasellus in dui condimentum odio tempus fermentum. Duis ut massa diam. Donec sagittis diam dolor, laoreet egestas dolor suscipit at.</p>
            <div class="btn"><a href="/team">Learn More</a></div>
          </div>
        </div>
      </div>
      <div class="participate-call editable"><a href="http://coreteamexperience.com/" target="_blank">JOIN US AT OUR UPCOMING EVENTS <img src="/assets/images/arrow-light.png" alt=""></a></div> 
      <div class="about-us-front">
        <div class="editable">
          <h4>About Us</h4>
          <p>We believe to be healthy is to be growing and thriving!  Our mission is to equip the development of healthy communities through two main efforts - Core Conversations and Core Teams.</p>
          <div class="btn"><a href="/about">Learn More</a></div>
        </div>
      </div>
    </section>
</main>